body {
    color: #463a38;
    background-color: #cac8c7;
}

dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 2em;
    column-gap: 1em;
}

dd {
    margin: 0;
}

pre {
    margin: 0;
}

.snippet {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    padding: 16px;
    border: 1px solid #463a38;
    border-radius: 16px;
}

.reset {
    color: #463a38;
}

.bg-reset {
    background-color: #cac8c7;
}

.inverted {
    color: #cac8c7;
}

.bg-inverted {
    background-color: #463a38;
}

.dimgray {
    color: #463a38;
}

.red {
    color: #a15959;
}

.green {
    color: #5a8565;
}

.yellow {
    color: #ae893f;
}

.blue {
    color: #606288;
}

.purple {
    color: #b16cb1;
}

.cyan {
    color: #668692;
}

.white {
    color: #b6b0a9;
}

.dimgray.highlighted {
    color: #7e7472;
}

.red.highlighted {
    color: #b46969;
}

.green.highlighted {
    color: #689673;
}

.yellow.highlighted {
    color: #be974a;
}

.blue.highlighted {
    color: #707299;
}

.purple.highlighted {
    color: #c580c5;
}

.cyan.highlighted {
    color: #7799a5;
}

.white.highlighted {
    color: #c2bcb6;
}

.bg-black {
    background-color: #463a38;
}

.bg-red {
    background-color: #a15959;
}

.bg-green {
    background-color: #5a8565;
}

.bg-yellow {
    background-color: #ae893f;
}

.bg-blue {
    background-color: #606288;
}

.bg-purple {
    background-color: #b16cb1;
}

.bg-cyan {
    background-color: #668692;
}

.bg-white {
    background-color: #b6b0a9;
}

.bg-black.highlighted {
    background-color: #7e7472;
}

.bg-red.highlighted {
    background-color: #b46969;
}

.bg-green.highlighted {
    background-color: #689673;
}

.bg-yellow.highlighted {
    background-color: #be974a;
}

.bg-blue.highlighted {
    background-color: #707299;
}

.bg-purple.highlighted {
    background-color: #c580c5;
}

.bg-cyan.highlighted {
    background-color: #7799a5;
}

.bg-white.highlighted {
    background-color: #c2bcb6;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.blink {
    text-decoration: blink;
}

.crossed-out {
    text-decoration: line-through;
}
